{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} Change Profile {% endblock %}
{% block  body_block %}
<form method="POST">
  {{ form|crispy }}
  {% csrf_token %}
  <button type="submit" class="btn btn-warning btn-sm">Change</button>
</form>

<p>Username: {{ user.username }}</p>
<p>password: {{ user.password }}</p>
<p>superuser: {{ user.is_superuser }}</p>
<p>Last Login Date: {{user.last_login}}</p>
<p>Email: {{ user.email }}</p>
<p>Name: {{user.first_name }} {{ user.last_name }}</p>
{% endblock %}
